<ion-modal-view>
  <ion-header-bar class="bar-stable">
    <h1 class="title">Trouble in login?</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeTroubleModal()">Cancel</button>
    </div>
  </ion-header-bar>
  <ion-content class="has-header" scroll="false" overflow-scroll="true" padding="true">
        <form class="list">
            <div style="width: 300px; height: 23px;" class="spacer"></div>
            <h1>Having trouble signing in?</h1>
            <div>
                <p>Please enter your email address. You will receive a verification code to reset a new password at your email address.</p>
            </div>
            <ion-list>
                <label class="item item-input">
                    <input placeholder="Email address" type="text">
                </label>
            </ion-list>
            <div class="button-bar"></div>
            <button class="button button-positive button-block icon-right ion-email">Send</button>
        </form>
   </ion-content>
</ion-modal-view>